<div class="w3-card-4 w3-margin w3-white">
	{% if object.header_image %}
		<img src="media/{{ object.header_image }}" alt="Norway" style="width: 100%" />
	{% endif %}
	<div class="w3-container">
		<h3><b>{{ object.title }}</b></h3>
		<h5>
			Created at:
			<span class="w3-opacity">{{ object.created_at }}</span>
		</h5>
		<h5>
			Created by:
			<span class="w3-opacity">{{ object.created_by }}</span>
		</h5>
	</div>

	<div class="w3-container">
		<p>{{ object.content }}</p>
		<div class="w3-row">
			<div class="w3-col m8 s12">
			</div>
			<div class="w3-col m4 w3-hide-small">
				<p>
					<span class="w3-padding-large w3-right"
						><b>Comments  </b> <span class="w3-badge">2</span></span
					>
				</p>
			</div>
		</div>
	</div>
</div>
